{% extends 'base.html' %}
{% block content %}
<div class="container pt-2">
    <h5>Удаление спринта</h5>
</div>
<div class="container pt-2">
    <form method="post">{% csrf_token %}
        <div class="alert alert-danger" role="alert">
            Вы действительно хотите удалить спринт?
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Имя</span>
            <input type="text" class="form-control" placeholder="{{ object.name }}" aria-label="Имя" aria-describedby="basic-addon1" id="disabledInput" disabled>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Дата окончания</span>
            <input type="date" name="dead_line" id="id_dead_line" class="form-control form-control-sm" value='{{ object.dead_line|date:"Y-m-d" }}' aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Дата создания</span>
            <input type="datetime-local" name="created" id="id_created" class="form-control form-control-sm" value='{{ object.created|date:"Y-m-d H:i" }}' aria-describedby="basic-addon3" disabled>
        </div>
        {{ form }}
        <div class="btn-group py-5" role="group">
            <input class="btn btn-outline-danger" type="submit" value="Удалить">
            <a class="btn btn-outline-warning" href="../sprintupdate/{{ object.id }}">Редактировать</a>
            <a class="btn btn-outline-success" href="../sprintlist/">Сброс</a>
        </div>
    </form>
</div>  
{% endblock %}