{% extends 'base.html' %}
{% block content %}
<div class="container pt-2">
    <h5>Задачи</h5>
</div>
<div class="container pt-2">
    <ol class="list-group list-group-numbered">
        {% for task_ in object_list %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        {{ task_.name }}
                    </div>
                    {% if task_.status %}
                        <div class="btn-group justify-content-end" role="group" aria-label="Basic example">
                            <span class="badge rounded-pill bg-secondary bg-sm">{{ task_.status }}</span>
                        </div>
                    {% endif %}
                </div>  
                <div class="btn-group justify-content-end" role="group" aria-label="Basic example">
                    <a class="btn btn-dark btn-sm" href="../taskdetail/{{task_.id }}">Просмотреть</a>
                    <a class="btn btn-danger btn-sm" href="../taskdelete/{{ task_.id }}">Удалить</a>
                </div>
            </li>
        {% empty %}
    </ol>
</div>
<div class="container py-2">
    <div class="container py-2">
        <div class="alert alert-warning" role="alert">
            Нет созданных задач!
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}