{% extends 'base.html' %}
{% block content %}
<div class="container pt-2">
    <h5>Создать задачу</h5>
</div>
<div class="container pt-2">
    <form method="post">{% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Имя</span>
            <input type="text" class="form-control" placeholder="Введите имя" aria-label="Имя" aria-describedby="basic-addon1" name="name" id="id_name">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Дата окончания</span>
            <input type="date" value="now" name="dead_line" id="id_dead_line" class="form-control form-control-sm" aria-describedby="basic-addon2">
        </div>
        <div class="mb-2 pt-2">
            <label class="form-lable" for="{{ form.parent_task.id_for_label }}">Родительская задача</label>
            <select class="form-select" id="id_parent_task" name="parent_task">
                <option selected value="">Нет задач</option>
            </select>
        </div>
        <div class="mb-2 pt-2">
            <label class="form-lable" for="{{ form.user.id_for_label }}">Исполнитель</label>
            <select class="form-select" id="id_user" name="user">
                <option selected value="">Пользователь не выбран</option>
                {% for user_ in users %}
                    <option value="{{ user_.id }}">{{ user_.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-2 pt-2">
            <label class="form-lable" for="{{ form.status.id_for_label }}">Статус</label>
            <select class="form-select" id="id_status" name="status">
                <option selected value="">--------</option>
                {% for status_ in statuses %}
                    <option value="{{ status_.id }}">{{ status_.status }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="btn-group" role="group" aria-label="Группа кнопок по умолчанию">
            <button type="submit" class="btn btn-outline-success" value="Save">Сохранить</button>
            <button type="reset" class="btn btn-outline-warning" value="Reset">Сброс</button>
            <a class="btn btn-outline-danger" href="../tasklist/">Отмена</a>
        </div>
    </form>
    <script>
        document.getElementById('id_dead_line').valueAsDate = new Date();
    </script>
</div>
{% endblock %}